@import "tailwindcss";

:root {
  --background: #fff2e0;
  --foreground: #090909;
  --primary-color: #ff9686;
  --primary-hover: #ff8270;
  --secondary-color: #b2ccb6;
  --secondary-hover: #1a5e55;
  --error: #931a1a;
}

.dark {
  --background: #1a1a1a;
  --foreground: #fafafa;
  --primary-color: #2d2d2d;
  --secondary-color: #3e8f82;
  --secondary-hover: #2d7a6f;
}

@theme inline {
  --font-sans: "Quicksand Variable", "Quicksand", sans-serif;
  --font-mono: ui-monospace, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary-color);
  --color-secondary-hover: var(--secondary-hover);
  --color-error: var(--error);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}
