*,
::after,
::before {
  box-sizing: border-box;
  --main-color: #fff2e0;
  --secondary-color: #ff9686;
  --card-color: #b2ccb6;
}

body {
  background-color: var(--main-color);
  color: #090909;
  margin: 0;
  font-family: "Quicksand Variable", sans-serif;
}

.main-container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}
